DB_HOST=localhost
DB_PORT=5432
DB_NAME=cricket_stat_trivia
DB_USER=postgres_user
DB_PASSWORD=password

ANTHROPIC_API_KEY= key_key_key

OPENAI_API_KEY= key_key_key

LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=key_key
LANGSMITH_PROJECT=project_name